.Weather {
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 30 px auto;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: 4px;
  margin-right: auto;
  border-radius: 4px;
    
  }

.btn {
  color: #333333;
}
.Weather h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
  margin-bottom: 18px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather canvas {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin-right: 10px;
}

.Weather img {
  margin-right: 10px;
  height: 85px;
  height: 85px;
  margin: 0;
  float: left;
}
  
.Weather .temperature {
  font-weight: bold;
  line-height: 64px;
  font-size: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .no-border {
  border: 0;
  box-shadow: none;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin-bottom: 12px;
}


